sudo: false
distro: trusty

language: python

matrix:
  include:
    - python: pypy3.5
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true

install:
  - python -m pip install codecov
  - python -m pip install -r requirements-tests.txt
  - python -m pip install -r requirements.txt

script:
  - pytest
  - python -m doctest README.md

after_success:
  - python -m codecov -f coverage.xml -X gcov
