name: CI

on:
  push:
    branches:
      - 'master'
    tags: [ 'v*' ]
  pull_request:
    branches:
      - 'master'

jobs:
  test:
    name: 'Test'
    strategy:
      matrix:
        python_version: ['3.6', '3.7', '3.8', '3.9', '3.10', 'pypy-3.7']
        os: ['ubuntu', 'macos', 'windows']
      fail-fast: true
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: 'Setup Python ${{ matrix.python_version }}'
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python_version }}
      - name: 'Install packaging tools'
        run: python -m pip install -U pip setuptools
      - name: 'Install coverage dependencies'
        run: python -m pip install -U coverage
      - name: 'Install dependencies'
        run: python -m pip install -r requirements.txt
      - name: 'Install tests dependencies'
        run: python -m pip install -r requirements-tests.txt
      - name: 'Run doctests'
        run: >
          coverage run -m doctest README.md
          && coverage run --append -m pytest --doctest-modules --ignore=tests
      - name: 'Run tests'
        run: coverage run --append -m pytest
      - name: 'Collect coverage'
        run: coverage xml
      - name: 'Upload coverage'
        uses: codecov/codecov-action@v2.1.0
        with:
          fail_ci_if_error: false
        continue-on-error: true

  pre-deploy:
    name: 'Pre-deploy'
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && github.ref_type == 'tag'
    steps:
      - name: '_'
        run: echo "Predeploy step"

  build:
    name: 'Build'
    runs-on: ubuntu-latest
    needs: pre-deploy
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: 'Setup Python'
        uses: actions/setup-python@v3
      - name: 'Install packaging tools'
        run: python -m pip install -U build pip setuptools wheel
      - name: 'Install dependencies'
        run: python -m pip install -r requirements.txt
      - name: 'Build'
        run: python -m build --sdist --wheel
      - name: 'Upload'
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  deploy:
    name: 'Deploy'
    environment: release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: 'Download distributions'
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - name: 'Collected dists'
        run: tree dist
      - name: 'PyPI upload'
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          packages_dir: dist
          password: ${{ secrets.PYPI_API_TOKEN }}
